# Environment Variable Template

# Set to true to write to the remote Cloudflare D1 database during scraping
REMOTE_DB=false

# Cloudflare Configuration
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_DATABASE_ID=

# NextAuth Configuration
# Run `npx auth secret` or `openssl rand -base64 32` to generate one
AUTH_SECRET=
AUTH_RESEND_KEY=

# Email Configuration
EMAIL_FROM=no-reply@yourdomain.com
