@import "tailwindcss";

@theme {
  --color-brand-blue: #2D6CDF;
  --color-brand-dark: #121212;
  --color-brand-light: #F8F9FA;
  --color-brand-green: #00C853;
  --color-brand-border: #E5E7EB;

  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
}

.mono-tag { font-family: var(--font-mono); letter-spacing: -0.5px; }

/* Terminal Cursor Animation */
.cursor-blink {
    animation: blink 1s step-end infinite;
}
@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

/* Custom Scrollbar for Sidebar */
.custom-scroll::-webkit-scrollbar {
    width: 6px;
}
.custom-scroll::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
.custom-scroll::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 4px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
    background: #aaa; 
}